<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Committed to making valuable products in the direction of pets.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2024</h4>
                                    <h4 class="subheading">Based on AI technology, we have released 5 pet oriented products, which are well received by users</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have developed an AI-based App that can analyze cats' emotions, providing pet owners with a more convenient way to communicate and interact with their pets. We have released virtual pet products, which can effectively solve the emotional sustenance of pet lovers. We have also developed extensive pet training courses for dog lovers to make their pets smarter.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2024</h4>
                                    <h4 class="subheading">Our products participated in the Chengdu pet Show and were well received by many users.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have been invited to pet shows, and our App and smart collar have received many positive reviews and pre-orders from pet owners. We are passionate about the pet direction.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2024</h4>
                                    <h4 class="subheading">We have received investment from well-known capital.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our idea received a lot of capital recognition, and we secured three rounds of financing in a month, laying the foundation for our dream.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2023</h4>
                                    <h4 class="subheading">We started moving into pet products</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our start-up team is a group of people who love pets. We are committed to making valuable products in the direction of pets, and we have in-depth research and a clear direction.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>