<!-- Services Section -->
    <section id="dramas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chill Shorts</h2>
                    <h3 class="section-subheading text-muted">We also have a relaxing APP for pet owners.<br> Watch popular shorts with ChillShorts to improve your mood. So that you can better spend time with your pet..</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/drama/drama1.png" class="img-responsive" alt="">
                    </div>
                    <h4 class="service-heading">Popular Dramas</h4>
                    <p class="text-muted">Following the popular dramas can make your time every day less boring. Watching a few short episodes a day can improve your mood.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/drama/drama2.png" class="img-responsive " alt="">
                    </div>
                    <h4 class="service-heading">Search Dramas</h4>
                    <p class="text-muted">You can search for your favorite short play according to your favorite. You can also choose your favorite Dramas based on popular search recommendations.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/drama/drama3.png" class="img-responsive " alt="">
                    </div>
                    <h4 class="service-heading">Recommended Dramas</h4>
                    <p class="text-muted">Based on your binge-watching history, we'll recommend dramas that are more in line with your preferences so you don't miss out on every good show.</p>
                </div>
            </div>
        </div>
    </section>
