<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Full life cycle health management for pets.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/service/apps.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Apps</h4>
                    <p class="text-muted">Pet life cycle service APP. Pet language translation, pet training courses, virtual pet chat, pet health management.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/service/Smart collar.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Smart collar</h4>
                    <p class="text-muted">More intelligent pet collar, effectively monitor the positioning of pets, heart rate, and body temperature, for the all-round management of pet health.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/service/ai.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">AI+Pet</h4>
                    <p class="text-muted">Continuous training based on the data collected by our App. Pet language translation model, pet emotion analysis model, pet health diagnosis model.</p>
                </div>
            </div>
        </div>
    </section>